* {
  box-sizing: border-box;
}

.form {
  color: var(--gray-500);
}

.form input {
  width: 100%;
  background-color: var(--brand-dark-bg-2);
  color: var(--gray-600);
  padding: 15px 10px;
  margin-top: 15px;
  border: none;
  font-size: 14px;
  border-radius: 3px;
}

.form p {
  font-size: 12px;
}
