.list_title {
  width: 315px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  margin-bottom: 12px;
}
.swiper {
  max-width: 1920px;
}

.swiper-slide {
  margin-right: 0px;
  background-color: red;
}
