.findPassword {
    width: 732px;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    background-color: black;
}

.title {
    text-align: center;
    font-weight: 700;
    color: var(--white);
    font-size: var(--text-lg);
    line-height: 53.06px;
    padding-bottom: 36px;
}

.info {
    font-weight: 600;
    color: var(--gray-400);
    font-size: var(--text-md);
    line-height: 42.65px;
}

label[name='findPassword'] {
    padding-bottom: 12px;

}

.input {
    box-sizing: border-box;
    background-color: var(--brand-dark-bg-2);
    width: 732px;
    height: 96px;
    border-radius: 4px;
    font-size: var(--text-md);
    border: none;
    padding: 25.5px 0 25.5px 24px;
    outline: 0;

}

.input:active,
.input:focus {
    color: var(--white);
    border: 1px solid var(--white);
}

.wrapper {
    position: relative;
}

.reset {
    background-color: var(--gray-300);
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 100%;
    border: none;
    top: 36px;
    right: 30px;
    cursor: pointer;
}

.button {
    font-weight: 600;
    color: var(--gray-400);
    font-size: var(--text-md);
    border: none;
    width: 732px;
    height: 96px;
    background-color: var(--gray-700);
    cursor: pointer;
}