.container {
  z-index: 200;
  width: 100%;
  position: absolute;
  left: -230%;
  top: 50%;
}

.background {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 38px 90px 0 90px;
  width: 526px;
  height: 192px;
  background-color: var(--brand-dark-bg-2);
}

.buttonBox {
  display: flex;
}

.text {
  color: var(--white);
}

.btn {
  background: none;
  border: none;
  padding: 0 68px;
  font-size: 16px;
  font-weight: 700;
  color: var(--gray-200);
}

.btn:hover {
  cursor: pointer;
  color: var(--white);
}

.line {
  text-align: end;
}
