.list_title {
  width: 315px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  margin-bottom: 12px;
}
.content_name {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #c4c4c4;
  text-align: left;
}

.contentTitle {
  display: flex;
}

.contentTitle img {
  margin-top: -24px;
  z-index: 100;
}
