.gray200 {
  color: var(--gray-200);
}

.gray500 {
  color: var(--gray-500);
}

.tabindex {
  pointer-events: hover;
}

.Footer {
  width: 1000px;
  height: 726px;
  position: relative;
  background: var(--black);
}

.contents {
  top: 140px;
  border-radius: 0px;
  padding: 0px 68px 0px 68px;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.nav {
  padding-top: 28px;
  border-top: 1px solid var(--brand-dark-bg-2);

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 36px;
}
a:hover {
  color: var(--white);
}

.snsicon {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  gap: 20px;
}

.copyright {
  line-height: 1.5em;
}
