.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  margin-bottom: 60px;
  color: #e1e1e1;
}

.swiper-slide div {
  margin-top: 10px;
  transition: all 0.2s linear;
}

.swiper-slide:hover div {
  transform: translate(0px, -10px);
}
