.mainBanner {
  max-width: 1920px;
  height: 475px;
}
.list_title {
  width: 315px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  margin-bottom: 12px;
  color: white;
}

.content_name {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #c4c4c4;
  text-align: left;
}
.contentsImg img {
  display: block;
}
